<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Tests" verbose="5" data-provider-thread-count="1">
	<test name="Play2048TheGame">
		<classes>
		    <class name="com.automation.pageObjects.HomePageTest"/>
		</classes>
	</test>  
</suite>